.calendar-control-bar {
	/* margin-bottom: calc(var(--spacing) * 2); */
}


.calendar-days-container {
	position: relative;
	/* overflow: hidden; */
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	/* border-width: 1px 0 0 0; */
	border-color: var(--color-secondary-10);
	/* background: var(--color-secondary-05); */
}


.day-slot {
	position: relative;
	height: calc(100% / 7);
	min-height: 0%;
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: 0.3s height ease-in-out;
	border-color: var(--color-secondary-10);
	animation: none;
}

.day-slot:not(:global(.open)):hover .day-title {
	color: var(--color-secondary-95);
}

.day-slot:global(.open) {
	height: 100%;
	cursor: default;
	border-width: 0;
	animation: grto 0.6s linear;
}


.day-slot:global(.opened) {
	justify-content: start;
	align-items: start;
	padding: 1em 0 0 0;
}

.day-slot:global(.close) {
	height: 0;
	opacity: 0;
	pointer-events: none;
}



.day-slot:global(.opened) .day-slot-content {
	width: 100%;
	height: 100%;
	animation: open-up 0.3s linear;
}

.day-slot-content {
	/* margin: auto; */
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.day-title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2em;
	color: var(--color-neutral-600);
}

:global(.dark) .day-title {
	color: var(--color-neutral-400);
}

.day-slot.open .day-title {
	color: var(--color-neutral-950);
}

:global(.dark) .day-slot.open .day-title {
	color: var(--color-neutral-50);
}

.day-date {
	color: var(--color-secondary-30);
}



.task-checkbox {}

.task-content {
	text-decoration-color: var(--color-primary);
}

.task-content:global(.checked) {
	text-decoration: line-through;
}






.date-picker {
	appearance: none;
	-webkit-appearance: none;
	color: var(--color-secondary-30);
	font-family: "Helvetica", arial, sans-serif;
	font-size: 1em;
	font-family: monospace;
	background: var(--color-secondary-05);
	/* background: color-mix(in oklab, var(--color-secondary-20), transparent 90%); */
	padding: 0.2em;
	border-radius: 0.3em;
	display: inline-block !important;
	visibility: visible !important;
}


.cl-sepa {

	border: none;
	width: 100%;
	height: 1px;
	flex-shrink: 0;
	background: linear-gradient(to right, transparent, var(--secondary-color-10), transparent);
}











.parent {
	position: relative;
	width: 100%;
	height: 100%;
}


.parent:hover .floating-panel {
	opacity: 0;
}

.floating-panel {
	position: absolute;
	top: 0;
	opacity: 1;
	background-color: var(--secondary-color-05);
	width: 100%;
	transition: opacity 0.3s ease-in-out;
	padding: calc(var(--spacing) * 10);
	pointer-events: none;
}












/* animations */



@keyframes grto {

	0% {
		opacity: 1;

	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}

@keyframes open-up {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}
