/* by Andreas Storm */

.checkbox-wrapper-4 * {
	box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 6px 0;
	border-radius: 3px;
	overflow: hidden;
	transition: all 0.2s ease;
	display: flex;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
	margin-right: 6px;
}

/* .checkbox-wrapper-4 .cbx:hover { */
/* 	background: color-mix(in oklab, var(--color-primary), transparent 90%); */
/* } */

.checkbox-wrapper-4 .cbx span {
	float: left;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
	position: relative;
	width: 1em;
	height: 1em;
	border-radius: 0.1em;
	transform: scale(1);
	border: 1px solid var(--color-secondary-30);
	transition: all 0.2s ease;
	box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
	position: absolute;
	top: 0.1em;
	left: 0.1em;
	fill: none;
	stroke: var(--primary-color-95);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx .task-title {
	padding-left: 8px;
	line-height: 18px;
	font-size: 1em;
	font-weight: 300;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
	border-color: var(--color-primary);
}

.checkbox-wrapper-4 .inp-cbx {
	position: absolute;
	visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx .task-title {
	text-decoration: line-through;
	text-decoration-color: var(--color-primary);
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
	background: var(--color-primary);
	border-color: var(--color-primary);
	animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
	stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}

@media screen and (max-width: 640px) {
	.checkbox-wrapper-4 .cbx {
		width: 100%;
		display: inline-block;
	}
}

@-moz-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}

@-webkit-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}

@-o-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}

@keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
